*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 14px;
    color: #666;
}

a{
    text-decoration: none;
    color: #00a0aa;
}

ul{
    list-style-type: none;
    line-height: 1.5;
}

h1{
    font-size: 18px;
}

h2{
    font-size: 16px;
}

p{
    line-height: 1.5;
}


/* container */
.container{
    max-width: 740px;
    margin: 0px auto;
    padding: 0px 80px;
}


/* header */
header{
    border-bottom: solid 1px #eee;
    overflow: auto;
    margin-bottom: 40px;
    padding: 12px 0px;
    font-size: 16px;
}

header nav .title{
    padding: 6px 0px;
    color: #333;
}

header nav .title a{
    color: inherit;
}

header nav ul{
    float: right;
    list-style: none;
}

header nav ul li{
    float: left;
    padding: 6px;
    margin-left: 5px;
    border-radius: 5px;
}

header nav ul li a{
    color: inherit;
}

header nav ul li.active{
    color: #fff;
    background-color: #00a0aa;
}

header nav ul li.passive{
    color: #00a0aa;
    background-color: #fff;
}

header nav ul li.passive:hover{
    background-color: #eee;
}


/* footer */
footer{
    border-top: 1px solid #eee;
    margin-top: 40px;
    padding: 10px 0px;
    font-size: 12px;
}

footer p{
    color: #aaa;
    text-align: right;
}

footer p a{
    color: #00a0aa;
}

footer p a:hover{
    text-decoration: underline;
}


/* home */
.tree-list{
    overflow: auto;
}

.tree-list ul li{
    float: left;
    overflow: auto;
}

.tree-list ul li a{
    display: inline-block;
    font-size: 14px;
    background-color: #00a0aa;
    color: #fff;
    width: 100px;
    text-align: center;
    border-radius: 50%;
    margin: 20px 32px;
    padding: 50px 10px;
}


/* tree */
.tree{
    padding: 0px 60px;
}

.tree .title{
    text-align: center;
    margin-bottom: 20px;
}


/* notes */
.posts table{
    width: 100%;
    border-collapse: collapse;
}

.posts table tr td ul li{
    position: relative;
    margin-bottom: -1px;
    padding: 10px 30px;
    border: solid 1px #eee;
    cursor: pointer;
}

.posts table tr td ul li:hover{
    background-color: #eee;
} 

.posts table tr td ul li:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.posts table tr td ul li:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.posts table tr td ul li a{
    color: #00a0aa;
    font-size: 14px;
    letter-spacing: 1px;
}


/* post */
.post{
    padding: 0px 60px;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.post .title{
    border-bottom: solid 1px #eee;
    margin: 40px 0px 5px 0px;
    padding-bottom: 2px;
    color: #444;
}

.post .meta{
    display: inline-block;
    margin: 20px 0px;
    padding-bottom: 2px;
    font-size: 12px;
}

.post .post-content h2{
    border-bottom: solid 1px #eee;
    padding-bottom: 2px;
    margin: 30px 0px 18px 0px;
    color: #555;
}

.post .post-content p{
    margin: 10px 0px;
    line-height: 1.5;
    font-size: 14px;
}

.post .post-content pre{
    border-radius: 5px;
    padding: 20px;
    background-color: #f8f8f8;
    overflow: auto;
}

.post .post-content ol,
.post .post-content ul{
    padding: 5px 50px;
    margin: 10px 0px;
    line-height: 2;
    font-size: 14px;
}

.post .post-content ul{
    list-style-type: square;
}


/* about */
.about{
    padding: 0px 60px;
}

.about ul{
    list-style-type: square;
    font-size: 14px;
    margin: 20px 16px;
    line-height: 2;
}

