*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 14px;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    line-height: 1.5;
}

p{
    line-height: 1.5;
}


/* container */
.container{
    max-width: 920px;
    margin: 0px auto;
    padding: 0px 80px;
}


/* header */
header{
    border-bottom: solid 1px #eee;
    overflow: auto;
    margin-bottom: 40px;
    padding: 20px 0px;
    font-size: 18px;
}

header nav .title{
    padding: 10px 0px;
    color: #888;
}

header nav .title:hover{
    color: #0088aa;
}

header nav .title a{
    color: inherit;
}

header nav ul{
    float: right;
    list-style: none;
}

header nav ul li{
    float: left;
    padding: 10px;
    margin-left: 5px;
    border-radius: 5px;
}

header nav ul li a{
    color: inherit;
}

header nav ul li.active{
    color: #fff;
    background-color: #0088aa;
}

header nav ul li.passive{
    color: #0088aa;
    background-color: #fff;
}

header nav ul li.passive:hover{
    background-color: #eee;
}


/* footer */
footer{
    border-top: 1px solid #eee;
    margin-top: 40px;
    padding-top: 10px;
    font-size: 12px;
}

footer p{
    color: #aaa;
    text-align: right;
}

footer p a{
    color: #0088aa;
}

footer p a:hover{
    text-decoration: underline;
}


/* home */
.tree-list{
    overflow: auto;
}

.tree-list ul li{
    float: left;
    overflow: auto;
}

.tree-list ul li a{
    display: inline-block;
    font-size: 20px;
    background-color: #00a0aa;
    color: #fff;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    margin: 20px 32px;
    padding: 40px 10px;
}


.tree{
    padding: 0px 60px;
}

.tree .title{
    text-align: center;
    margin-bottom: 20px;
}


/* notes */
ul.posts{
    margin: 20px 0px 40px 0px;
}


/* about */
.about{
    padding: 0px 60px;
}

.about p{
    font-size: 18px;
}

.about ul{
    list-style-type: square;
    font-size: 14px;
    margin: 20px 16px;
    line-height: 2;
}

.about ul li a{
    color: #0088aa;
}

